@using VehiclesForSale.Data.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims
@model DetailsViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    bool isFirst = true;
    ViewData["Title"] = Model.Vehicle.Title + "- Подробна информация";

}
<div class="row mt-5"></div>
<div class="row mt-5"></div>
 <div class="container">
    <div class="row m-0">
        <div class="col-lg-8 pb-5 pe-lg-5">
            <div class="row">
                <div class="col-12 p-5">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            
                            @foreach (var img in Model.Vehicle.Images.Skip(1))
                            {
                                if (isFirst)
                                {
                                    <div class="carousel-item active">
                                        <img src="/Uploads/@img" class="d-block w-100">
                                    </div>
                                    isFirst = false;
                                }
                                else
                                {
                                    <div class="carousel-item">
                                        <img src="/Uploads/@img" class="d-block w-100">
                                    </div>
                                }
                            }
                            
                            @if (isFirst)
                            {
                            <div class="carousel-item active">
                                <img src="/Uploads/NoImage.jpg" class="d-block w-100">
                            </div>
                            }

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

                <div class="row m-0 details-container">

                    <div class="col-12 px-4">
                        <div class="d-flex align-items-end mt-4 mb-2">
                            <p class="h4 m-0">
                                <span class="pe-1 fw-bold">@Model.Vehicle.Title</span>
                            </p>
                        </div>
                        <div class="d-flex justify-content-start mb-3">
                            <div class="align-text-top">
                                <span class="h4 fw-bold">Цена: @Model.Vehicle.Price лв.</span>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4 col-6 ps-30 pe-0 my-4">
                        <p class="text-muted">Марка:</p>
                        <p class="h5">@Model.Vehicle.Make</p>
                    </div>
                    <div class="col-md-4 col-6  ps-30 my-4">
                        <p class="text-muted">Модел:</p>
                        <p class="h5 m-0">@Model.Vehicle.Model</p>
                    </div>
                    <div class="col-md-4 col-6  ps-30 my-4">
                        <p class="text-muted">Скоростна кутия</p>
                        <p class="h5 m-0">@Model.Vehicle.Transmission</p>
                    </div>
                    <div class="col-md-4 col-6 ps-30 my-4">
                        <p class="text-muted">Тип купе:</p>
                        <p class="h5 m-0">@Model.Vehicle.CategoryType</p>
                    </div>

                    <div class="col-md-4 col-6 ps-30 my-4">
                        <p class="text-muted">Кубатура:</p>
                        <p class="h5 m-0">@Model.Vehicle.CubicCapacity</p>
                    </div>

                    <div class="col-md-4 col-6 ps-30 my-4">
                        <p class="text-muted">Конски сили:</p>
                        <p class="h5 m-0">@Model.Vehicle.HorsePower</p>
                    </div>


                    <div class="col-md-4 col-6 ps-30 my-4">
                        <p class="text-muted">Цвят:</p>
                        <p class="h5 m-0">@Model.Vehicle.Color</p>
                    </div>

                    <div class="col-md-4 col-6 ps-30 pe-0 my-4">
                        <p class="text-muted">Пробег:</p>
                        <p class="h5">
                            @Model.Vehicle.Mileage<span class="ps-1">Km</span>
                        </p>
                    </div>

                    <div class="col-md-4 col-6 ps-30 my-4">
                        <p class="text-muted">Дата на производство:</p>
                        <p class="h5 m-0">@Model.Vehicle.Month, @Model.Vehicle.Year</p>
                    </div>
                    <div class="col-md-6 col-sm-12 ps-30 my-4">
                        <p class="text-muted">Описание:</p>
                        <p class="h5 m-0">@Model.Vehicle.Description</p>
                    </div>
                    <div class="col-md-6 col-sm-12 my-4">
                        @if (Model.Vehicle.OwnerId != User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value)
                        {
                            @if (Model.Vehicle.IsInWatchList == true)
                            {
                                <a asp-action="DeleteFromWatchList" asp-controller="Vehicle" asp-route-vehicleId="@Model.Vehicle.Id" class="btn btn-danger col-12">
                                    Премахни от запазени
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z" />
                                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z" />
                                        <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z" />
                                    </svg>
                                </a>
                            }
                            else
                            {
                                <a asp-action="AddToWatchList" asp-controller="Vehicle" asp-route-vehicleId="@Model.Vehicle.Id" class="btn btn-primary col-12">
                                    Добави в запазени
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                    </svg>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 p-0 my-5 ps-lg-4">
            <div class="row m-0 details-container ">
                <div class="col-12 px-0">
                    <div class="row m-0  details-container">
                        <div class="col-6 p-2 justify-content-center border-end border-dark">
                            <p class="fw-bold">Комфорт</p>
                            <ul>
                               
                                @foreach (var comfExtra in Model.Vehicle.ComfortExtras)
                                {
                                    <li class="text-size">@comfExtra</li>
                                }
                            </ul>
                            </div>
                        <div class="col-6 p-2 justify-content-center border-dark">
                            <p class="fw-bold">Безопастност</p>
                            <ul>

                                @foreach (var comfExtra in Model.Vehicle.SafetyExtras)
                                {
                                    <li class="text-size">@comfExtra</li>
                                }
                            </ul>
                        </div>

                        <div class="col-6 px-1 justify-content-center border-top border-end border-dark">
                            <p class="fw-bold m-2">Интериор</p>
                            <ul>

                                @foreach (var comfExtra in Model.Vehicle.InteriorExtras)
                                {
                                    <li class="text-size">@comfExtra</li>
                                }
                            </ul>
                        </div>
                        <div class="col-6 px-1 border-top border-dark">
                            <p class="fw-bold m-2">Екстериор</p>
                            <ul>

                                @foreach (var comfExtra in Model.Vehicle.ExteriorExtras)
                                {
                                    <li class="text-size">@comfExtra</li>
                                }
                            </ul>

                        </div>
                      
                       
     
                        <div class="col-12 px-0 my-0 border-top border-dark ">
                            <p class="fw-bold m-2">Други</p>
                            <ul>

                                @foreach (var comfExtra in Model.Vehicle.OtherExtras)
                                {
                                    <li class="text-size">@comfExtra</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 px-0 my-5">
                <div class="row m-0  details-container">
                    <div class="col-12 px-4 my-4">
                        <p class="fw-bold">Информация за продавача</p>
                    </div>
                    <div class="col-12 px-4">
                        <div class="d-flex w-100 flex-column mb-4">
                            <p class="fw-bold">Име на продавача: @Model.Seller.Name</p>
                            <div class=" w-100 d-flex flex-column align-items-start">
                                <p class="fw-bold">Телефонен номер: @Model.Seller.PhoneNumber</p>
                                <p class="text-muted">Дата на регистрация в сайта: @Model.Seller.RegistrationMade</p>
                                <p class="text-muted">Местоположение на автомобила: @Model.Vehicle.Location </p>
                            </div>
                           
                        <div class="w-100 d-flex flex-column align-items-center">
                            <div class="row m-0">
                                <div class="col-12  mb-4 p-0">
                                    @if (Model.Seller.Id == UserManager.GetUserId(User))
                                    {
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12 mb-2">
                                             <a asp-action="Edit" asp-controller="Vehicle" asp-route-id="@Model.Vehicle.Id" class="btn btn-warning col-12">Edit</a>
                                         </div>
                                         <div class="col-md-6 col-sm-12">
                                             <a asp-action="Delete" asp-controller="Vehicle" asp-route-id="@Model.Vehicle.Id" class="btn btn-danger col-12 text-center">Delete</a>
                                         </div>
                                     </div>
                                    }
                                    else
                                        {
                                            <div class="row">
                                                <div class="col-sm-12 mb-2">
                                                    <a asp-action="Index" asp-controller="Chat" asp-route-receivingUserId="@Model.Seller.Id" class="btn btn-primary col-12">Отвори чат с @Model.Seller.Name</a>
                                                </div>
                                            </div>

                                        <a asp-action="SellerVehicles" asp-controller="Vehicle" asp-route-Id="@Model.Seller.Id" class="btn btn-success col-12 ">Други обяви на @Model.Seller.Name</a>
                                    }
                                   
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.carousel').carousel();
    });
</script>

