@model VehicleSearchViewModel;
@{
    ViewData["Title"] = "Търси";
}
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"] - Коли.bg</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<div class="row mt-5"></div>
<div class="row mt-5"></div>

 <div class="row">
    <div class="col-md-4">
       
        <form id="SearchVehicleForm" method="post">
        <h1 class="text-center mb-lg-3 col-md-12">@ViewData["Title"]</h1>
            <hr />
        
        <div class="row ps-2 login-register-container">
        <div class="row text-center">
        <div class="text-center pt-2 mb-3 col-md-6">

                            <label asp-for="@Model.MakeId" class="form-label-add-edit">Марка: </label>
                            <select asp-for="@Model.MakeId" class="form-control input-custom border-dark" aria-required="true">
                                @foreach (var make in Model.Makes)
                                {
                                    <option value="@make.Id">@make.Name</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.MakeId" class="text-danger"></span>
                        </div>
                        <div class="text-center pt-2 mb-3 col-md-6 ">
                            <label asp-for="@Model.ModelId" class="form-label-add-edit">Модел: </label>
                            <select asp-for="@Model.ModelId" class="form-control input-custom border-dark" aria-required="true">
                                @foreach (var mod in Model.Models)
                                {
                                    <option value="@mod.Id">@mod.Name</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.ModelId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="text-center mb-3 col-md-6">
                    <label asp-for="@Model.PriceFrom" id="priceFromLabel">Цена От:</label>
                            <input class="form-control input-custom border-dark" aria-required="true" type="hidden" id="priceFrom" name="PriceFrom" value="@Model.PriceFrom" asp-for="@Model.PriceFrom" />
                            <div id="priceFromSlider"></div>
                            <span asp-validation-for="@Model.PriceFrom" class="text-danger"></span>
                        </div>
                        <div class="text-center mb-3 col-md-6">
                    <label asp-for="@Model.PriceTo" id="priceToLabel">Цена До:</label>
                    <input class="form-control input-custom border-dark" aria-required="true" type="hidden" id="priceTo" name="PriceTo" value="@Model.PriceTo" asp-for="@Model.PriceTo" />
                            <div id="priceToSlider"></div>
                            <span asp-validation-for="@Model.PriceTo" class="text-danger"></span>
                        </div>

                        <div class="text-center mb-3 col-md-6">
                    <label asp-for="@Model.SelectedYearFrom" class="form-label-add-edit" id="yearToLabel">Година От: </label>
                            <select asp-for="@Model.SelectedYearFrom" class="form-control input-custom border-dark" aria-required="true">
                                <option value="">Select Year</option>
                                @foreach (var year in Model.Years)
                                {
                                    <option value="@year">@year</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.SelectedYearFrom" class="text-danger"></span>
                        </div>

                        <div class="text-center mb-3 col-md-6">
                            <label asp-for="@Model.SelectedYearTo" class="form-label-add-edit">Година До: </label>
                            <select asp-for="@Model.SelectedYearTo" class="form-control input-custom border-dark" aria-required="true">
                                <option value="">Select Year</option>
                                @foreach (var year in Model.Years)
                                {
                                    <option value="@year">@year</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.SelectedYearTo" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="row text-center">
                        <div class="text-center mb-3 col-md-6">
                            <label asp-for="@Model.TransmissionTypeId" class="form-label-add-edit">Скоростна Кутия: </label>
                            <select asp-for="@Model.TransmissionTypeId" class="form-control input-custom border-dark" aria-required="true">
                                @foreach (var tr in Model.TransmissionTypes)
                                {
                                    <option value="@tr.Id">@tr.Name</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.TransmissionTypeId" class="text-danger"></span>
                        </div>
                        <div class="text-center mb-3 col-md-6">
                            <label asp-for="@Model.FuelTypeId" class="form-label-add-edit">Гориво: </label>
                            <select asp-for="@Model.FuelTypeId" class="form-control input-custom border-dark" aria-required="true">
                                @foreach (var fuelType in Model.FuelTypes)
                                {
                                    <option value="@fuelType.Id">@fuelType.Name</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.FuelTypeId" class="text-danger"></span>
                        </div>

                        <div class="text-center mb-3 col-md-6">
                            <label asp-for="@Model.CategoryTypeId" class="form-label-add-edit">Тип: </label>
                            <select asp-for="@Model.CategoryTypeId" class="form-control input-custom border-dark" aria-required="true">
                                @foreach (var categoryType in Model.Categories)
                                {
                                    <option value="@categoryType.Id">@categoryType.Name</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.CategoryTypeId" class="text-danger"></span>
                        </div>
                        <div class="text-center mb-3 col-md-6">
                            <label asp-for="@Model.ColorId">Цвят: </label>
                            <select asp-for="@Model.ColorId" class="form-control input-custom border-dark" aria-required="true">
                                @foreach (var color in Model.Colors)
                                {
                                    <option value="@color.Id">@color.Name</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.ColorId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="text-center mb-3 col-md-6">
                            <label asp-for="@Model.CubicCapacityTo">Кубатура:</label>
                            <input class="form-control input-custom border-dark"  aria-required="true" asp-for="@Model.CubicCapacityTo" />
                            <span asp-validation-for="@Model.CubicCapacityTo" class="text-danger"></span>
                        </div>
                        <div class="text-center mb-3 col-md-6">
                            <label asp-for="@Model.HorsePowerTo">Конски сили:</label>
                            <input class="form-control input-custom border-dark" aria-required="true" asp-for="@Model.HorsePowerTo" />
                            <span asp-validation-for="@Model.HorsePowerTo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row text-center ">
                        <div class="mb-3 col-md-12 align-content-center">
                            <input class="btn btn-primary mb-2 w-100 p-3 fw-bold" type="submit" value="Търси"/>
                        </div>
                    </div>
                    </div>
            </form>
        </div>
        <div class="col-md-8">
            <h1 class="text-center col-lg-12">Последно добавени обяви</h1>
            <hr />
        <div class="row">
            @foreach (var car in Model.Vehicles.Take(4))
            {
                var checkImage = car.MainImage ?? "NoImage.jpg";
                <div class="col-md-6">
                    <div class="container m-2">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card-sl">
                                    <div class="card-image">
                                        <img src="/Uploads/@checkImage" />
                                    </div>
                                    <div class="row justify-content-center card-heading">
                                        <div class="col-sm-6 col-lg-12 text-center">
                                            @car.Title
                                        </div>
                                        <div class="col-sm-6 col-lg-12 text-center">
                                            Цена: @car.Price лв.
                                        </div>
                                    </div>


                                    <div class="row justify-content-sm-evenly">
                                        <div class="col-sm-6 ms-md-2 ps-sm-3 card-text">Марка: @car.Make</div>
                                        <div class="col-sm-5 card-text">Модел: @car.Model</div>
                                    </div>
                                    <div class="row justify-content-sm-evenly">
                                        <div class="col-sm-6 ms-md-2 ps-sm-3 card-text">Година: @car.Month, @car.Year</div>
                                        <div class="col-sm-5 card-text">Пробег: @car.Mileage km</div>
                                    </div>
                                    <div class="row justify-content-sm-evenly pb-2">
                                        <div class="col-sm-6 ms-md-2 ps-sm-3 card-text">Ск. кутия: @car.Transmission</div>
                                        <div class="col-sm-5 card-text">Гориво: @car.FuelType</div>
                                    </div>
                                    <a asp-action="Details" asp-controller="Vehicle" asp-route-id="@car.Id" class="card-button"> Детайлна информация</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
           


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">

        $(document).ready(function () {
            // Dropdownlist Selectedchange event
            $("#MakeId").change(function () {
                var makeId = $(this).val(); // Get the selected makeId

                $("#ModelId").empty(); // Clear the current options in the Model dropdown

                // If no makeId is selected, show a default option in the Model dropdown
                if (makeId === "") {
                    $("#ModelId").append('<option value="">Select a Model</option>');
                    return;
                }

                // Make an AJAX POST request to retrieve the models based on the selected makeId
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetModelValues")',
                    dataType: 'json',
                    data: { id: makeId }, // Send the selected makeId as 'id'
                    success: function (models) {
                        // models contains the JSON formatted list of models returned from the controller

                        $("#ModelId").append('<option value="">Select a Model</option>');
                        $.each(models, function (i, model) {
                            $("#ModelId").append('<option value="' + model.id + '">' + model.name + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve models: ' + ex);
                    }
                });
            });
        });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="~/js/site.js"></script>
}