@model PaginatedList<VehicleIndexViewModel>

@{
    ViewData["Title"] = "Seller vehicles: " + ViewData["SellerName"];

}
<h2 class="text-center mb-3">@ViewData["Title"]</h2>
<hr />

@if (!Model.Any())
{
    <h2 class="text-center mb-3">There are no added vehicles yet</h2>
}

<div class="row">
    @foreach (var car in Model)
    {
        var checkImage = car.MainImage ?? "NoImage.jpg";
        <div class="col-lg-4">
            <div class="container" style="margin-top: 50px;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-sl">
                            <div class="card-image">
                                <img src="/Uploads/@checkImage" />
                            </div>
                            <div class="row justify-content-center card-heading">
                                <div class="col-sm-6 col-lg-12 text-center">
                                    @car.Title
                                </div>
                                <div class="col-sm-6 col-lg-12 text-center">
                                    Price: $@car.Price
                                </div>
                            </div>


                            <div class="row justify-content-center">
                                <div class="col-md-6 text-center">Make: @car.Make</div>
                                <div class="col-md-6 text-center">Model: @car.Model</div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-6 text-center">Year: @car.Month, @car.Year</div>
                                <div class="col-md-6 text-center">Mileage: @car.Mileage km</div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-6 text-center">Transmission: @car.Transmission</div>
                                <div class="col-md-6 text-center">Fuel: @car.FuelType</div>
                            </div>
                            <a asp-action="Details" asp-controller="Vehicle" asp-route-id="@car.Id" class="card-button"> Check Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@{
    var prevDisabled = !Model.HasPrevious ? "disabled" : "";
    var nextDisabled = !Model.HasNext ? "disabled" : "";
}

<div class="row my-4">
    <div class="col-12 text-center">
        <a asp-action="SellerVehicles" asp-route-Id="@ViewData["SellerId"]" asp-route-pageNumber="@(Model.PageIndex-1)" class="btn btn-danger me-5 col-md-2 col-sm-4 @prevDisabled">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg> Previous
        </a>
        <a asp-action="SellerVehicles" asp-route-Id="@ViewData["SellerId"]" asp-route-pageNumber="@(Model.PageIndex+1)" class="btn btn-primary col-md-2 col-sm-4 @nextDisabled">
            Next Page
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>
        </a>
    </div>
</div>
