@model ExtraFormViewModel

<div class="row">
    <div class="col-lg-3">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Comfort Extras</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var comExtra in Model.ComfortExtras)
                {
                    <tr>

                        <td>
                            <input class="form-check-input" 
                                   type="checkbox" 
                                   id="comfortExtra_@comExtra.Id" 
                                   name="ComfortExtrasChecked"
                                   value="@comExtra.Name"
                                   checked="@comExtra.IsChecked">
                            <label class="form-check-label" for="comfortExtra_@comExtra.Id">
                                @comExtra.Name
                            </label>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-lg-3">
        <table class="table table-bordered ">
            <thead>
            <tr>
                <th scope="col">Safety Extras</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var comExtra in Model.SafetyExtras)
            {
                <tr>

                    <td>
                        <input class="form-check-input" 
                               type="checkbox" 
                               id="safetyExtra_@comExtra.Id" 
                               name="SafetyExtrasChecked" 
                                   value="@comExtra.Name"
                               checked="@comExtra.IsChecked">
                        <label class="form-check-label" for="safetyExtra_@comExtra.Id">
                            @comExtra.Name
                        </label>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="col-lg-2">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Exterior Extras</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var exExtra in Model.ExteriorExtras)
                {
                    <tr>

                        <td>
                            <input class="form-check-input" 
                                   type="checkbox"
                                   id="exteriorExtra_@exExtra.Id"
                                   name="ExteriorExtrasChecked"
                                   value="@exExtra.Name"
                                   checked="@exExtra.IsChecked">
                            <label class="form-check-label" for="exteriorExtra_@exExtra.Id">
                                @exExtra.Name
                            </label>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-lg-2">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Other Extras</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var otherExtra in Model.OtherExtras)
                {
                    <tr>

                        <td>
                            <input class="form-check-input" 
                                   type="checkbox"
                                   id="otherExtra_@otherExtra.Id"
                                   name="OtherExtrasChecked"
                                   value="@otherExtra.Name"
                                   checked="@otherExtra.IsChecked">
                            <label class="form-check-label" for="otherExtra_@otherExtra.Id">
                                @otherExtra.Name
                            </label>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-lg-2">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Interior Extras</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var inExtras in Model.InteriorExtras)
                {
                    <tr>

                        <td>
                            <input class="form-check-input" 
                                   type="checkbox"
                                   id="interiorExtra_@inExtras.Id"
                                   name="InteriorExtrasChecked"
                                   value="@inExtras.Name"
                                   checked="@inExtras.IsChecked">
                            <label class="form-check-label" for="interiorExtra_@inExtras.Id">
                                @inExtras.Name
                            </label>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>